.authNav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.authNav li {
  padding: 10px 0 10px 0;
  margin: 0px 5px 0 5px;
  position: relative;
}

.authNav li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
