.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.large {
  width: 500px;
  margin-bottom: -100px;
  margin-top: -100px;
}

.large + p {
  font-size: 20px;
}

.small {
  width: 200px;
  margin-bottom: -30px;
}

.small + p {
  font-size: 13px;
}
