.header {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  color: inherit;
  text-decoration: inherit;
}

.headerLogo:hover {
  color: inherit;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.mainNav,
.secNav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mainNav li,
.secNav li {
  padding: 10px 0 10px 0;
  margin: 0px 5px 0 5px;
  position: relative;
}

.mainNav li a,
.secNav li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.mainNav li a:hover::after,
.secNav li a:hover::after,
.activeLink::after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100%;
  bottom: 2;
}
