.item {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemImg img {
  width: 100%;
  height: 180px;
  background-color: #f2f2f2;
  display: block;
}

.item h2 {
  font-size: 13px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item h3 {
  font-size: 12px;
}

.button {
  width: 100%;
  font-size: 15px;
  padding: 5px;
  color: white;
}

.button:disabled,
.button:active {
  color: white !important;
}

.maximumNotice {
  font-size: 10px;
  margin-bottom: 7px;
}
