.notificationsWrapper {
  position: absolute;
  right: 2%;
  bottom: 0;
  width: 350px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.notificationsWrapperScroll {
  overflow-x: scroll;
}

.notification {
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.notification p {
  margin-bottom: 0;
}

.notification button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.notification .indicator {
  position: absolute;
  height: 10px;
  width: 50%;
  bottom: 0;
  left: 0;
}
