.notificationsContainer {
  position: absolute;
  right: 2%;
  bottom: 0;
  width: 350px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-x: hidden;
}

.notification {
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.notification h6 {
  margin-bottom: 4px;
}

.notification p {
  margin-bottom: 0;
  font-size: 14px;
}

.notification button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.notification .indicator {
  position: absolute;
  height: 8px;
  width: 50%;
  bottom: 0;
  left: 0;
}
