.notificationsContainer {
  position: absolute;
  right: 2%;
  bottom: 0;
  margin-bottom: 8px;
  width: 350px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.notificationItem {
  padding: 12px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.notificationItem h6 {
  margin-bottom: 4px;
}

.notificationItem p {
  font-size: 14px;
  margin-bottom: 0;
}

.notificationItem button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 7px;
  width: 7px;
}

.indicator {
  position: absolute;
  min-height: 0;
  height: 3px;
  bottom: 0;
  left: 0;
}
