.shoppingCart {
  position: relative;
}

.shoppingCartCounter {
  background-color: #0dcaf0;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: -15px;
  right: 11px;
  font-size: 12px;
}
